
// Start: 320px Mobile
@media (min-width: 320px) and (max-width: 360px) {

.header{
	.container{
		.row{
			.navbar-dua{
				.navbar-menu-1{
					.navbar-header{
						a.navbar-brand{
							padding-top: 5px;
						}
					}

					#bs-example-navbar-collapse-3{
						ul.navbar-nav{

							form.navbar-form-search{
								input.form-control{
									width: 100%;
									text-align: center;
								}
								button.btn-success{
									width: 100%;
								}
							}

							form.navbar-form-register{
								margin-top: -9px;

								button.btn-info{
									width: 100%;
								}
							}

							li{
								a.link{
									font-weight: bold;
									color: gray;

									&:hover{
										color:white;
										background-color: #228b22;
									}

									&.active{
										color:white;
										background-color: #228b22;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

.content-main{
	.content-top-2{
		.container{
			.panel{
				.top{
					.col-xs-12{
						margin-bottom: -10px;
						.caption{
								text-align: center;
								
							p{
								margin-bottom: 0;
							}
						}
						.bottom-left{
							object-fit: cover;
							margin-left: -15px;
							margin-top: -16px;
							width: 127px;

							.sub-bottom-left{

							}
						}

						.second-bottom-left{
							object-fit: cover;
							margin-right: -15px;
							margin-top: -16px;
							width: 127px;
							position: relative;
							right: 13px;

							.sub-second-bottom-left{

							}
						}
					}
				}
			}
		}
	}

	.content-fashion-2{
		.container{
			.panel{
				.panel-body{
					position: relative;
					top: -55px;

					.page-header{
						img.category{
							width: 100%;
							margin-bottom: -7px;
						}
					}

					.col-xs-12{
						margin-bottom: -35px;
						.top-left{
							.caption{
								text-align: center;
								
								p{
									margin-bottom: 0;
								}
							}
						}

						.bottom-left{
							object-fit: cover;
							margin-left: -15px;
							margin-top: -16px;
							width: 127px;
							text-align: center;

							.caption{
								text-align: center;
								
								p{
									margin-bottom: 0;
								}
							}

							.sub-bottom-left{

							}
						}

						.second-bottom-left{
							object-fit: cover;
							margin-right: -15px;
							margin-top: -16px;
							width: 127px;
							position: relative;
							right: 13px;

							.caption{
								text-align: center;
								
								p{
									margin-bottom: 0;
								}
							}

							.sub-second-bottom-left{

							}
						}

						.col-md-2{
							.caption{
							    text-align: center;
							    position: relative;
							    top: -7px;
							    margin-bottom: -7px;

							    h6{
							    	font-weight: bold;

							    	&:hover{
							    		color:green;
							    	}
							    }
							}
						}
					}
				}
			}
		}
	}

	.content-kerajinan-2{
		.container{
			.panel{
				.panel-body{
					position: relative;
					top: -55px;

					.page-header{
						img.category{
							width: 100%;
							margin-bottom: -7px;
						}
					}

					.col-xs-12{
						margin-bottom: -35px;
						
						.caption{
							text-align: center;
								
							p{
								margin-bottom: 0;
							}
						}

						.bottom-left{
							object-fit: cover;
							margin-left: -15px;
							margin-top: -16px;
							width: 127px;

							.sub-bottom-left{

							}
						}

						.second-bottom-left{
							object-fit: cover;
							margin-right: -15px;
							margin-top: -16px;
							width: 127px;
							position: relative;
							right: 13px;

							.sub-second-bottom-left{

							}
						}

						.col-md-2{
							.caption{
							    text-align: center;
							    position: relative;
							    top: -7px;
							    margin-bottom: -7px;

							    h6{
							    	font-weight: bold;

							    	&:hover{
							    		color:green;
							    	}
							    }
							}
						}
					}
				}
			}
		}
	}

	.content-perabotan-2{
		.container{
			.panel{
				.panel-body{
					position: relative;
					top: -55px;

					.page-header{
						img.category{
							width: 100%;
							margin-bottom: -7px;
						}
					}

					.col-xs-12{
						margin-bottom: -35px;
						
						.caption{
								text-align: center;
								
							p{
								margin-bottom: 0;
							}
						}

						.bottom-left{
							object-fit: cover;
							margin-left: -15px;
							margin-top: -16px;
							width: 127px;

							.sub-bottom-left{

							}
						}

						.second-bottom-left{
							object-fit: cover;
							margin-right: -15px;
							margin-top: -16px;
							width: 127px;
							position: relative;
							right: 13px;

							.sub-second-bottom-left{

							}
						}

						.col-md-2{
							.caption{
							    text-align: center;
							    position: relative;
							    top: -7px;
							    margin-bottom: -7px;

							    h6{
							    	font-weight: bold;

							    	&:hover{
							    		color:green;
							    	}
							    }
							}
						}
					}
				}
			}
		}
	}

	.content-herbal-2{
		.container{
			.panel{
				.panel-body{
					position: relative;
					top: -55px;

					.page-header{
						img.category{
							width: 100%;
							margin-bottom: -7px;
						}
					}

					.col-xs-12{
						margin-bottom: -35px;
						.caption{
								text-align: center;
								
							p{
								margin-bottom: 0;
							}
						}

						.bottom-left{
							object-fit: cover;
							margin-left: -15px;
							margin-top: -16px;
							width: 127px;

							.sub-bottom-left{

							}
						}

						.second-bottom-left{
							object-fit: cover;
							margin-right: -15px;
							margin-top: -16px;
							width: 127px;
							position: relative;
							right: 13px;

							.sub-second-bottom-left{

							}
						}

						.col-md-2{
							.caption{
							    text-align: center;
							    position: relative;
							    top: -7px;
							    margin-bottom: -7px;

							    h6{
							    	font-weight: bold;

							    	&:hover{
							    		color:green;
							    	}
							    }
							}
						}
					}
				}
			}
		}
	}

	.content-kuliner-2{
		.container{
			.panel{
				.panel-body{
					position: relative;
					top: -55px;

					.page-header{
						img.category{
							width: 100%;
							margin-bottom: -7px;
						}
					}

					.col-xs-12{
						margin-bottom: -35px;
						.caption{
								text-align: center;
								
							p{
								margin-bottom: 0;
							}
						}

						.bottom-left{
							object-fit: cover;
							margin-left: -15px;
							margin-top: -16px;
							width: 127px;

							.sub-bottom-left{

							}
						}

						.second-bottom-left{
							object-fit: cover;
							margin-right: -15px;
							margin-top: -16px;
							width: 127px;
							position: relative;
							right: 13px;

							.sub-second-bottom-left{

							}
						}

						.col-md-2{
							.caption{
							    text-align: center;
							    position: relative;
							    top: -7px;
							    margin-bottom: -7px;

							    h6{
							    	font-weight: bold;

							    	&:hover{
							    		color:green;
							    	}
							    }
							}
						}
					}
				}
			}
		}
	}
	
	.content-hot-deals-2{
		.container{
			.panel{
				.panel-body{
					position: relative;
					top: -55px;

					.page-header{
						img.category{
							width: 100%;
							margin-bottom: -7px;
						}
					}

					.col-xs-12{
						margin-bottom: -35px;
						.caption{
								text-align: center;
								
							p{
								margin-bottom: 0;
							}
						}

						.bottom-left{
							object-fit: cover;
							margin-left: -15px;
							margin-top: -16px;
							width: 127px;

							.sub-bottom-left{

							}
						}

						.second-bottom-left{
							object-fit: cover;
							margin-right: -15px;
							margin-top: -16px;
							width: 127px;
							position: relative;
							right: 13px;

							.sub-second-bottom-left{

							}
						}

						.col-md-2{
							.caption{
							    text-align: center;
							    position: relative;
							    top: -7px;
							    margin-bottom: -7px;

							    h6{
							    	font-weight: bold;

							    	&:hover{
							    		color:green;
							    	}
							    }
							}
						}
					}
				}
			}
		}
	}
	
}

.foot{
	.container{
		.navbar-static-bottom{
			.supported{
				.col-md-6{
					margin-left: 33px;
				}
			}
		}
	}
}

}