
// Start: 768 Tablet
@media (min-width: 768px) and (max-width: 992px) {

.header{
	.container{
		.row{
			.navbar-menu-1{
				.container{
					.navbar-collapse{
						.input-group{
							input.form-control{
								width: 200px;
							}

							.input-group-btn{
								button.dropdown-toggle{
								    position: relative;
								    left: -100px;
								    top: 5px;
								}

								ul.dropdown-menu{
									margin-right: 32px;
									margin-top: -10px;
								}
							}

							.btn-success{
								position: relative;
    							left: -95px;
							}

							ul.navbar-nav{
								position: relative;
    							left: -65px;

								a.cart{
									img{
										position: relative;
    									left: -15px;
									}
								}
							}

							a.register{
								text-decoration: underline;
								position: relative;
								top: 10px;
								right: -48px;
								font-weight: bold;
								color: #458b00;

								&:hover{
									text-decoration:none;
									color: green;
								}
							}
						}
					}
				}
			}

			.navbar-menu-2{
				.container{
					.navbar-collapse{
						ul.navbar-nav{
							li{
								a.link{
									padding-left: 19px;
									padding-right: 20px;
								}
							}
						}
					}
				}
			}
		}
	}
}

.content-main{
	.content-top{
		.container{
			.row{
				.content-nol{
					.row{
						.col-xs-12{
							.caption{
									text-align: center;
    								margin-bottom: -13px;
							}
						}

						.col-xs-6{
							.bottom-left-nol{
								margin-top: -10px;
								width: 337px;

								.caption{
										text-align: center;
	    								margin-bottom: -13px;
								}
							}

							.bottom-left-satu{
								margin-top: -10px;
								width: 337px;
								margin-left: -8px;
								
								.caption{
										text-align: center;
	    								margin-bottom: -13px;
								}
							}
						}

						.col-md-2{
							.caption{
								a.lainnya{
									h6{
										text-align: center;
    									font-weight: bold;	

    									&:hover{
    										text-decoration:none;
    										color: green;
    										font-style: normal;
    										text-decoration-style: unset;
    									}
									}
								}
							}
						}
					}
				}
			}
		}
	}

	.content-fashion{
		.container{
			.row{
				.panel-body{
					.page-header{
						margin-bottom: -12px;
						padding-bottom: 0px;
						position: relative;
						top: -17px;
						height: 7px;
						padding-left: 20px;
						padding-right: 20px;
						border-bottom: transparent;
					}

					.content-tablet{
						.col-xs-12{
							.thumbnail{
							margin: 5px;
							margin-bottom: 10px;

								.caption{
									text-align: center;
    								margin-bottom: -13px;
								}
							}
						}

						.col-xs-6{
							.bottom-left-nol{
							margin: 5px;
							margin-bottom: 10px;
							width: 333px;
							margin-top: 0px;
								.caption{
									text-align: center;
    								margin-bottom: -13px;
								}
							}

							.second-bottom-left-nol{
							margin: 5px;
							margin-bottom: 10px;
							width: 333px;
							margin-left: -9px;
    						margin-top: 0px;
								.caption{
									text-align: center;
    								margin-bottom: -13px;
								}
							}
						}

						.col-md-2{
							.caption{
								a.lainnya{
									h6{
										text-align: center;
    									font-weight: bold;	

    									&:hover{
    										text-decoration:none;
    										color: green;
    										font-style: normal;
    										text-decoration-style: unset;
    									}
									}
								}
							}
						}
					}
				}
			}
		}
	}

	.content-kerajinan{
		.container{
			.row{
				.panel-body{
					.page-header{
						margin-bottom: -12px;
						padding-bottom: 0px;
						position: relative;
						top: -17px;
						height: 7px;
						padding-left: 20px;
						padding-right: 20px;
						border-bottom: transparent;
					}

					.content-tablet{
						.col-xs-12{
							.thumbnail{
							margin: 5px;
							margin-bottom: 10px;

								.caption{
									text-align: center;
    								margin-bottom: -13px;
								}
							}
						}

						.col-xs-6{
							.bottom-left-nol{
							margin: 5px;
							margin-bottom: 10px;
							width: 333px;
							margin-top: 0px;
								.caption{
									text-align: center;
    								margin-bottom: -13px;
								}
							}

							.second-bottom-left-nol{
							margin: 5px;
							margin-bottom: 10px;
							width: 333px;
							margin-left: -9px;
    						margin-top: 0px;
								.caption{
									text-align: center;
    								margin-bottom: -13px;
								}
							}
						}

						.col-md-2{
							.caption{
								a.lainnya{
									h6{
										text-align: center;
    									font-weight: bold;	

    									&:hover{
    										text-decoration:none;
    										color: green;
    										font-style: normal;
    										text-decoration-style: unset;
    									}
									}
								}
							}
						}
					}
				}
			}
		}
	}

	.content-perabotan{
		.container{
			.row{
				.panel-body{
					.page-header{
						margin-bottom: -12px;
						padding-bottom: 0px;
						position: relative;
						top: -17px;
						height: 7px;
						padding-left: 20px;
						padding-right: 20px;
						border-bottom: transparent;
					}

					.content-tablet{
						.col-xs-12{
							.thumbnail{
							margin: 5px;
							margin-bottom: 10px;

								.caption{
									text-align: center;
    								margin-bottom: -13px;
								}
							}
						}

						.col-xs-6{
							.bottom-left-nol{
							margin: 5px;
							margin-bottom: 10px;
							width: 333px;
							margin-top: 0px;
								.caption{
									text-align: center;
    								margin-bottom: -13px;
								}
							}

							.second-bottom-left-nol{
							margin: 5px;
							margin-bottom: 10px;
							width: 333px;
							margin-left: -9px;
    						margin-top: 0px;
								.caption{
									text-align: center;
    								margin-bottom: -13px;
								}
							}
						}

						.col-md-2{
							.caption{
								a.lainnya{
									h6{
										text-align: center;
    									font-weight: bold;	

    									&:hover{
    										text-decoration:none;
    										color: green;
    										font-style: normal;
    										text-decoration-style: unset;
    									}
									}
								}
							}
						}
					}
				}
			}
		}
	}

	.content-herbal{
		.container{
			.row{
				.panel-body{
					.page-header{
						margin-bottom: -12px;
						padding-bottom: 0px;
						position: relative;
						top: -17px;
						height: 7px;
						padding-left: 20px;
						padding-right: 20px;
						border-bottom: transparent;
					}

					.content-tablet{
						.col-xs-12{
							.thumbnail{
							margin: 5px;
							margin-bottom: 10px;

								.caption{
									text-align: center;
    								margin-bottom: -13px;
								}
							}
						}

						.col-xs-6{
							.bottom-left-nol{
							margin: 5px;
							margin-bottom: 10px;
							width: 333px;
							margin-top: 0px;
								.caption{
									text-align: center;
    								margin-bottom: -13px;
								}
							}

							.second-bottom-left-nol{
							margin: 5px;
							margin-bottom: 10px;
							width: 333px;
							margin-left: -9px;
    						margin-top: 0px;
								.caption{
									text-align: center;
    								margin-bottom: -13px;
								}
							}
						}

						.col-md-2{
							.caption{
								a.lainnya{
									h6{
										text-align: center;
    									font-weight: bold;	

    									&:hover{
    										text-decoration:none;
    										color: green;
    										font-style: normal;
    										text-decoration-style: unset;
    									}
									}
								}
							}
						}
					}
				}
			}
		}
	}

	.content-kuliner{
		.container{
			.row{
				.panel-body{
					.page-header{
						margin-bottom: -12px;
						padding-bottom: 0px;
						position: relative;
						top: -17px;
						height: 7px;
						padding-left: 20px;
						padding-right: 20px;
						border-bottom: transparent;
					}

					.content-tablet{
						.col-xs-12{
							.thumbnail{
							margin: 5px;
							margin-bottom: 10px;

								.caption{
									text-align: center;
    								margin-bottom: -13px;
								}
							}
						}

						.col-xs-6{
							.bottom-left-nol{
							margin: 5px;
							margin-bottom: 10px;
							width: 333px;
							margin-top: 0px;
								.caption{
									text-align: center;
    								margin-bottom: -13px;
								}
							}

							.second-bottom-left-nol{
							margin: 5px;
							margin-bottom: 10px;
							width: 333px;
							margin-left: -9px;
    						margin-top: 0px;
								.caption{
									text-align: center;
    								margin-bottom: -13px;
								}
							}
						}

						.col-md-2{
							.caption{
								a.lainnya{
									h6{
										text-align: center;
    									font-weight: bold;	

    									&:hover{
    										text-decoration:none;
    										color: green;
    										font-style: normal;
    										text-decoration-style: unset;
    									}
									}
								}
							}
						}
					}
				}
			}
		}
	}

	.content-hot-deals{
		.container{
			.row{
				.panel-body{
					.page-header{
						margin-bottom: -12px;
						padding-bottom: 0px;
						position: relative;
						top: -17px;
						height: 7px;
						padding-left: 20px;
						padding-right: 20px;
						border-bottom: transparent;
					}

					.content-tablet{
						.col-xs-12{
							.thumbnail{
							margin: 5px;
							margin-bottom: 10px;

								.caption{
									text-align: center;
    								margin-bottom: -13px;
								}
							}
						}

						.col-xs-6{
							.thumbnail{
							margin: 5px;
							margin-bottom: 10px;

								.caption{
									text-align: center;
    								margin-bottom: -13px;
								}
							}
						}

						.col-md-2{
							.caption{
								a.lainnya{
									h6{
										text-align: center;
    									font-weight: bold;	

    									&:hover{
    										text-decoration:none;
    										color: green;
    										font-style: normal;
    										text-decoration-style: unset;
    									}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

.foot{
	.container{
		.row{
			.panel-body{
				.navbar-static-bottom{
					.supported{
						.col-md-6{
							padding-left: 37%;
						} 
					}
				}
			}
		}
	}
}

}

