// Start: 360px Smartphone
@media (min-width: 360px) and (max-width: 767px) {

.header{
	.container{
		.row{
			.navbar-dua{
				.navbar-menu-1{
					#bs-example-navbar-collapse-3{
						ul.navbar-nav{

							form.navbar-form-search{
								input.form-control{
									width: 100%;
									text-align: center;
								}
								button.btn-success{
									width: 100%;
								}
							}

							form.navbar-form-register{
								margin-top: -9px;

								button.btn-info{
									width: 100%;
								}
							}

							li{
								a.link{
									font-weight: bold;
									color: gray;

									&:hover{
										color:white;
										background-color: #228b22;
									}

									&.active{
										color:white;
										background-color: #228b22;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

.content-main{
	.content-top-2{
		.container{
			.panel{
				.panel-body{
					.col-xs-12{
						.row{
							
							.col-xs-6{
								.bottom-left{
									object-fit: cover;
								    margin-left: -15px;
								    margin-top: -16px;
								    width: 146px;

									.caption{

									}
								}
							}

							.col-xs-6{
								.second-bottom-left{
									object-fit: cover;
								    margin-left: 0;
								    margin-top: -16px;
								    width: 146px;

									.caption{

									}
								}
							}
						}
					}
				}
			}
		}
	}

	.content-fashion-2{
		.container{
			.panel{
				.panel-body{

					.page-header{
						img.category{
							width: 100%;
							margin-bottom: -7px;
						}
					}

					.col-xs-12{
						.row{
							
							.col-xs-6{
								.bottom-left{
									object-fit: cover;
								    margin-left: -15px;
								    margin-top: -16px;
								    width: 146px;

									.caption{

									}
								}
							}

							.col-xs-6{
								.second-bottom-left{
									object-fit: cover;
								    margin-left: 0;
								    margin-top: -16px;
								    width: 146px;

									.caption{

									}
								}
							}

							.col-md-2{
								.caption{
								    text-align: center;
								    position: relative;
								    top: -7px;
								    margin-bottom: -7px;

								    h6{
								    	font-weight: bold;

								    	&:hover{
								    		color:green;
								    	}
								    }
								}
							}
						}
					}
				}
			}
		}
	}

	.content-kerajinan-2{
		.container{
			.panel{
				.panel-body{

					.page-header{
						img.category{
							width: 100%;
							margin-bottom: -7px;
						}
					}

					.col-xs-12{
						.row{
							
							.col-xs-6{
								.bottom-left{
									object-fit: cover;
								    margin-left: -15px;
								    margin-top: -16px;
								    width: 146px;

									.caption{

									}
								}
							}

							.col-xs-6{
								.second-bottom-left{
									object-fit: cover;
								    margin-left: 0;
								    margin-top: -16px;
								    width: 146px;

									.caption{

									}
								}
							}

							.col-md-2{
								.caption{
								    text-align: center;
								    position: relative;
								    top: -7px;
								    margin-bottom: -7px;

								    h6{
								    	font-weight: bold;

								    	&:hover{
								    		color:green;
								    	}
								    }
								}
							}
						}
					}
				}
			}
		}
	}

	.content-perabotan-2{
		.container{
			.panel{
				.panel-body{

					.page-header{
						img.category{
							width: 100%;
							margin-bottom: -7px;
						}
					}

					.col-xs-12{
						.row{
							
							.col-xs-6{
								.bottom-left{
									object-fit: cover;
								    margin-left: -15px;
								    margin-top: -16px;
								    width: 146px;

									.caption{

									}
								}
							}

							.col-xs-6{
								.second-bottom-left{
									object-fit: cover;
								    margin-left: 0;
								    margin-top: -16px;
								    width: 146px;

									.caption{

									}
								}
							}

							.col-md-2{
								.caption{
								    text-align: center;
								    position: relative;
								    top: -7px;
								    margin-bottom: -7px;

								    h6{
								    	font-weight: bold;

								    	&:hover{
								    		color:green;
								    	}
								    }
								}
							}
						}
					}
				}
			}
		}
	}

	.content-herbal-2{
		.container{
			.panel{
				.panel-body{

					.page-header{
						img.category{
							width: 100%;
							margin-bottom: -7px;
						}
					}

					.col-xs-12{
						.row{
							
							.col-xs-6{
								.bottom-left{
									object-fit: cover;
								    margin-left: -15px;
								    margin-top: -16px;
								    width: 146px;

									.caption{

									}
								}
							}

							.col-xs-6{
								.second-bottom-left{
									object-fit: cover;
								    margin-left: 0;
								    margin-top: -16px;
								    width: 146px;

									.caption{

									}
								}
							}

							.col-md-2{
								.caption{
								    text-align: center;
								    position: relative;
								    top: -7px;
								    margin-bottom: -7px;

								    h6{
								    	font-weight: bold;

								    	&:hover{
								    		color:green;
								    	}
								    }
								}
							}
						}
					}
				}
			}
		}
	}

	.content-kuliner-2{
		.container{
			.panel{
				.panel-body{

					.page-header{
						img.category{
							width: 100%;
							margin-bottom: -7px;
						}
					}

					.col-xs-12{
						.row{
							
							.col-xs-6{
								.bottom-left{
									object-fit: cover;
								    margin-left: -15px;
								    margin-top: -16px;
								    width: 146px;

									.caption{

									}
								}
							}

							.col-xs-6{
								.second-bottom-left{
									object-fit: cover;
								    margin-left: 0;
								    margin-top: -16px;
								    width: 146px;

									.caption{

									}
								}
							}

							.col-md-2{
								.caption{
								    text-align: center;
								    position: relative;
								    top: -7px;
								    margin-bottom: -7px;

								    h6{
								    	font-weight: bold;

								    	&:hover{
								    		color:green;
								    	}
								    }
								}
							}
						}
					}
				}
			}
		}
	}

	.content-hot-deals-2{
		.container{
			.panel{
				.panel-body{

					.page-header{
						img.category{
							width: 100%;
							margin-bottom: -7px;
						}
					}
					
					.col-xs-12{
						.row{
							
							.col-xs-6{
								.bottom-left{
									object-fit: cover;
								    margin-left: -15px;
								    margin-top: -16px;
								    width: 146px;

									.caption{

									}
								}
							}

							.col-xs-6{
								.second-bottom-left{
									object-fit: cover;
								    margin-left: 0;
								    margin-top: -16px;
								    width: 146px;

									.caption{

									}
								}
							}

							.col-md-2{
								.caption{
								    text-align: center;
								    position: relative;
								    top: -7px;
								    margin-bottom: -7px;

								    h6{
								    	font-weight: bold;

								    	&:hover{
								    		color:green;
								    	}
								    }
								}
							}
						}
					}
				}
			}
		}
	}
}

.foot{
	.container{
		.row{
			.panel-body{
				nav.navbar-static-bottom{
					.supported{
						.col-md-6{
							margin-left: 55px;
						}
					}
				}
			}
		}
	}
}

}