
$green: #228b22;
$header-padding-left: 48px;
$header-padding-right: 48px;

$main-content-color: #bababa;
$main-content-hover: #383838;

body{
	@font-face {
	    font-family: humanst521-bt;
	    src: url(fonts/humanst521-bt.ttf);
	}
}

.header{
	.container{
		.navbar-nol{
			.navbar-menu-1{
				margin-bottom: 0;
				border-bottom-left-radius: 0;
				border-bottom-right-radius: 0;
				border-bottom: 0;
				background-color: white;

				.navbar-brand{
					margin-top: -5px;
					margin-left: 8px;
				}

				.navbar-collapse{
					.input-group{
						input.form-control{
							top: 20px;
							border-right: 0; 
							width: 110%;
						}

						button.dropdown-toggle{
							top: 4px;
							border-top-left-radius: 0;
							border-bottom-left-radius: 0;
						}

						button.btn-success{
							position: relative;
							top: 7px;
							left: 55px;
						}

						ul.navbar-right{
							margin-left: -92px;
							position: relative;
							left: -30px;

							.Notification{
								position: relative;
								right: 0;
							}
						}

						a.register{
							text-decoration: underline;
							position: relative;
							top: 10px;
							right: -193px;
							font-weight: bold;
							color: #458b00;

							&:hover{
								text-decoration:none;
								color: green;
							}
						}

						.input-group-btn{
							button.dropdown-toggle{
									position: relative;
									left: 51px;
									top: 5px;
							}

							ul.dropdown-menu{
								margin-top: -10px;
								margin-right: -71px;
							}
						}
					}
				}
			}

			.navbar-menu-2{
				margin-bottom: -1px;
				border-radius: 0;
				background-color: white;
				border-top: 0px none;
				border-bottom: 0px none;

				.container{
					.navbar-collapse{
						li{
							a.link{
								padding-left: 50.5px;
    							padding-right: 50px;
								font-weight: bold;
								border: 1px solid #ccc;

								&:active{
									color:white;
									background-color: #228b22;
								}

								&:hover{
									color:white;
									background-color: #228b22;
								}
							}
						}
					}
				}
			}
		}

		.navbar-satu{
			.navbar-menu-1{
				margin-bottom: 0;
				border-bottom-left-radius: 0;
				border-bottom-right-radius: 0;
				border-bottom: 0;
				background-color: white;

				.navbar-brand{
					margin-top: -5px;
					margin-left: 8px;
				}

				.navbar-collapse{
					.input-group{
						input.form-control{
							top: 20px;
							border-right: 0; 
							width: 114%;
						}

						button.dropdown-toggle{
							top: 4px;
							border-top-left-radius: 0;
							border-bottom-left-radius: 0;
						}

						button.btn-success{
							position: relative;
							top: 7px;
							left: 78px;
						}

						ul.navbar-right{
							margin-left: -92px;
							position: relative;
							left: -30px;

							.Notification{
								position: relative;
								right: 0;
							}
						}

						a.register{
							text-decoration: underline;
							position: relative;
							top: 10px;
							right: -208px;
							font-weight: bold;
							color: #458b00;

							&:hover{
								text-decoration:none;
								color: green;
							}
						}

						.input-group-btn{
							button.dropdown-toggle{
								position: relative;
								left: 72px;
							}

							ul.ropdown-menu-right{
								margin-right: -71px;
							}
						}
					}
				}
			}

			.navbar-menu-2{
				margin-bottom: -1px;
				border-radius: 0;
				background-color: white;
				border-top: 0px none;
				border-bottom: 0px none;

				.container{
					.navbar-collapse{
						li{
							a.link{
								padding-left: 50px;
								padding-right: 49px;
								font-weight: bold;
								border: 1px solid #ccc;

								&:active{
									color:white;
									background-color: #228b22;
								}

								&:hover{
									color:white;
									background-color: #228b22;
								}
							}
						}
					}
				}
			}
		}
	}
}

.content-main{
	.content-top{
		.container{
			.panel{
				border-top-right-radius: 0;
				border-top-left-radius: 0;
				border-top: transparent;

				.panel-body{
					.content-satu{
						.bottom-left{
							height: 195px;
							margin-right: -10px;
							margin-top: -10px;

							.sub-bottom-left{
								height: 185px;
								object-fit: cover;
							}
						}

						.second-bottom-left{
							height: 195px;
							margin-left: -10px;
							margin-top: -10px;

							.sub-second-bottom-left{
								height: 185px;
								object-fit: cover;
							}
						}
					}

					.content-dua{
						.center-image{
							margin-left: -18px;
    						margin-right: -18px;
							height: 555px;
							object-fit: cover;
							
							.sub-center-image{
								object-fit: cover;
								height: 545px;
							}
						}

						.right{
							object-fit: cover;
							height: 275px;
							margin-bottom: 20px;

							.sub-right{
								height: 265px;
								object-fit: cover;
							}
						}

						.bottom-right{
							object-fit: cover;
							height: 270px;
							margin-top: -10px;

							.sub-bottom-right{
								height: 260px;
								object-fit: cover;
							}
						}
					}
				}
			}
		}
	}

	.content-fashion{
		.panel-body{
			.page-header{
				img.category{
					width: 100%;
					margin-top: -40px;
				}
			}
			.col-md-12{
				.row{

					.caption{
						text-align: center;
					}
					.thumbnail{
						margin: -10px;
					}
					.col-md-2{
						margin-top: 15px;

						.caption{
							a.lainnya{
								h5{
									text-align: center;
	    							margin-top: 10px;
									text-decoration: none;
									font-weight: bold;		
									color: $main-content-color;

									&:hover{
									text-decoration:none;
									color: $main-content-hover;
									font-style: normal;
									text-decoration-style: unset;
									}
								}

								&:hover{
									text-decoration:none;
								}
							}
						}

					}
				}
			}
		}
	}

	.content-kerajinan{
		.panel-body{
			.page-header{
				img.category{
					width: 100%;
					margin-top: -40px;
				}
			}
			.col-md-12{
				.row{
					.caption{
						text-align: center;
					}
					.thumbnail{
						margin: -10px;
					}
					.col-md-2{
						margin-top: 15px;

						.caption{
							a.lainnya{
								h5{
									text-align: center;
	    							margin-top: 10px;
									text-decoration: none;
									font-weight: bold;		
									color: $main-content-color;

									&:hover{
									text-decoration:none;
									color: $main-content-hover;
									font-style: normal;
									text-decoration-style: unset;
									}
								}

								&:hover{
									text-decoration:none;
								}
							}
						}

					}
				}
			}
		}
	}

	.content-perabotan{
		.panel-body{
			.page-header{
				img.category{
					width: 100%;
					margin-top: -40px;
				}
			}
			.col-md-12{
				.row{
					.caption{
						text-align: center;
					}
					.thumbnail{
						margin: -10px;
					}
					.col-md-2{
						margin-top: 15px;

						.caption{
							a.lainnya{
								h5{
									text-align: center;
	    							margin-top: 10px;
									text-decoration: none;
									font-weight: bold;		
									color: $main-content-color;

									&:hover{
									text-decoration:none;
									color: $main-content-hover;
									font-style: normal;
									text-decoration-style: unset;
									}
								}

								&:hover{
									text-decoration:none;
								}
							}
						}

					}
				}
			}
		}
	}

	.content-herbal{
		.panel-body{
			.page-header{
				img.category{
					width: 100%;
					margin-top: -40px;
				}
			}
			.col-md-12{
				.row{
					.caption{
						text-align: center;
					}
					.thumbnail{
						margin: -10px;
					}
					.col-md-2{
						margin-top: 15px;

						.caption{
							a.lainnya{
								h5{
									text-align: center;
	    							margin-top: 10px;
									text-decoration: none;
									font-weight: bold;		
									color: $main-content-color;

									&:hover{
									text-decoration:none;
									color: $main-content-hover;
									font-style: normal;
									text-decoration-style: unset;
									}
								}

								&:hover{
									text-decoration:none;
								}
							}
						}

					}
				}
			}
		}
	}

	.content-kuliner{
		.panel-body{
			.page-header{
				img.category{
					width: 100%;
					margin-top: -40px;
				}
			}
			.col-md-12{
				.row{
					.caption{
						text-align: center;
					}
					.thumbnail{
						margin: -10px;
					}
					.col-md-2{
						margin-top: 15px;

						.caption{
							a.lainnya{
								h5{
									text-align: center;
	    							margin-top: 10px;
									text-decoration: none;
									font-weight: bold;		
									color: $main-content-color;

									&:hover{
									text-decoration:none;
									color: $main-content-hover;
									font-style: normal;
									text-decoration-style: unset;
									}
								}

								&:hover{
									text-decoration:none;
								}
							}
						}

					}
				}
			}
		}
	}

	.content-hot-deals{
		.panel-body{
			.page-header{
				img.category{
					width: 100%;
					margin-top: -40px;
				}
			}
			.col-md-12{
				.row{
					.caption{
						text-align: center;
					}
					.thumbnail{
						margin: -10px;
					}
					.col-md-2{
						margin-top: 15px;

						.caption{
							a.lainnya{
								h5{
									text-align: center;
	    							margin-top: 10px;
									text-decoration: none;
									font-weight: bold;		
									color: $main-content-color;

									&:hover{
									text-decoration:none;
									color: $main-content-hover;
									font-style: normal;
									text-decoration-style: unset;
									}
								}

								&:hover{
									text-decoration:none;
								}
							}
						}

					}
				}
			}
		}
	}
}

.foot{
	
	.container{
		.panel-body{
			background-image: url("../img/bg-footer.png");

			.navbar-static-bottom{
				.col-lg-12{
					h4.beringharjo-foot{
						color: white;
						text-align: left;
					}

					ul.beringharjo-footer{
						padding-left: 0;

						li{
							list-style: none;;

							a.beringharjo-footer{
								text-decoration: none;
								color: white;

								&:hover{
									color: #1a1a1a;
								}
							}
						}
					}
				}

				.supported{
					h4.sponsor{
						text-align: center;
						color: white;
					}

					.row{
						.col-md-6{
							a.beringharjo{
								background-color: #20b2aa;
							}
						}
					}
				}

			}
		}
	}
}


@import 'responsive';
@import 'smartphone-responsive';
@import 'mobile-responsive'