#top-nav {
  background-color: #404048;
  min-height: 30px;
  -webkit-box-shadow: inset 0 15px 0 0 rgba(255, 255, 255, 0.08);
  -moz-box-shadow: inset 0 15px 0 0 rgba(255, 255, 255, 0.08);
  box-shadow: inset 0 15px 0 0 rgba(255, 255, 255, 0.08); }

#main-nav {
  background-color: #333;
  z-index: 10;
  -webkit-box-shadow: inset 0 30px 0 0 #fff, 0 0 1px 0 rgba(0, 0, 0, 0.4);
  -moz-box-shadow: inset 0 30px 0 0 #fff, 0 0 1px 0 rgba(0, 0, 0, 0.4);
  box-shadow: inset 0 30px 0 0 #fff, 0 0 1px 0 rgba(0, 0, 0, 0.4); }

#main-nav .navbar-header {
  height: 60px; }

#main-nav .navbar-header .navbar-brand {
  padding: 15px;
  position: relative; }

#main-nav .navbar-header .navbar-toggle {
  border-radius: 0;
  margin: 15px;
  -webkit-box-shadow: inset 0 15px 0 0 rgba(255, 255, 255, 0.12);
  -moz-box-shadow: inset 0 15px 0 0 rgba(255, 255, 255, 0.12);
  box-shadow: inset 0 15px 0 0 rgba(255, 255, 255, 0.12); }

#main-nav .navbar-header .navbar-toggle:hover {
  border: 1px solid transparent;
  background-color: #fd4a29; }

#main-nav .navbar-header .navbar-toggle:hover .icon-bar {
  background-color: #f0f0f8; }

#navbar1 {
  height: 50px; }

.jumbotron {
  margin-top: 60px; }

.carousel-inner {
  margin-top: 60px; }

.btm1 {
  background-color: #7fffd4; }

.btm2 {
  background-color: #458b74; }

.btm3 {
  background-color: #c1cdcd; }

.btm4 {
  background-color: #838b8b; }

.service {
  border-radius: .3em;
  background-color: #34495e;
  text-align: center;
  padding: 3em 2em 1em 2em;
  color: white; }

.service .glyphicon {
  font-size: 5em; }

/*# sourceMappingURL=custom_style.css.map */
