.header .container .row a.navbar-brand {
  padding-top: 5px; }
.header .container .row .input-group {
  padding-top: 8px;
  width: 147%; }
.header .container .row button.btn-success {
  margin-top: 8px;
  position: relative;
  left: 235px; }
.header .container .row nav.navbar-menu-1 {
  margin-bottom: 0;
  border-radius: 3px 3px 0 0;
  border-bottom: 0;
  background-color: white; }
.header .container .row .navbar-menu-2 {
  border-radius: 0px;
  border-top: 0;
  border-bottom: 0;
  margin-bottom: 0;
  background-color: white; }
  .header .container .row .navbar-menu-2 .navbar-collapse ul.navbar-nav li a.link {
    padding-left: 48px;
    padding-right: 48px;
    margin-left: 4px;
    font-weight: bold; }
    .header .container .row .navbar-menu-2 .navbar-collapse ul.navbar-nav li a.link:hover {
      background-color: #228b22;
      color: white; }
    .header .container .row .navbar-menu-2 .navbar-collapse ul.navbar-nav li a.link:active {
      background-color: #228b22;
      color: white; }

.content-main .thumbnail {
  margin: -7px; }
.content-main .content-top .panel-body .top {
  border-radius: 0; }
  .content-main .content-top .panel-body .top .col-md-12 .top-left {
    height: 300px;
    margin-bottom: 20px; }
    .content-main .content-top .panel-body .top .col-md-12 .top-left .sub-top-left {
      height: 290px;
      width: 100%;
      object-fit: cover; }
  .content-main .content-top .panel-body .top .col-md-12 .thumbnail.center {
    height: 488px; }
    .content-main .content-top .panel-body .top .col-md-12 .thumbnail.center .sub-center {
      height: 477px;
      object-fit: cover; }
  .content-main .content-top .panel-body .top .col-md-12 .right {
    margin-bottom: 20px;
    height: 237px; }
    .content-main .content-top .panel-body .top .col-md-12 .right .sub-right {
      height: 227px;
      object-fit: cover; }
  .content-main .content-top .panel-body .top .col-md-12 .bottom-right {
    height: 237px; }
    .content-main .content-top .panel-body .top .col-md-12 .bottom-right .sub-bottom-right {
      height: 227px;
      object-fit: cover; }
.content-main .content-fashion .page-header {
  margin-top: 7px; }
  .content-main .content-fashion .page-header img.category {
    width: 100%; }
.content-main .content-fashion .caption {
  text-align: center; }
.content-main .content-kerajinan .page-header {
  margin-top: 7px; }
  .content-main .content-kerajinan .page-header img.category {
    width: 100%; }
.content-main .content-kerajinan .caption {
  text-align: center; }
.content-main .content-perabotan .page-header {
  margin-top: 7px; }
  .content-main .content-perabotan .page-header img.category {
    width: 100%; }
.content-main .content-perabotan .caption {
  text-align: center; }
.content-main .content-herbal .page-header {
  margin-top: 7px; }
  .content-main .content-herbal .page-header img.category {
    width: 100%; }
.content-main .content-herbal .caption {
  text-align: center; }
.content-main .content-kuliner .page-header {
  margin-top: 7px; }
  .content-main .content-kuliner .page-header img.category {
    width: 100%; }
.content-main .content-kuliner .caption {
  text-align: center; }
.content-main .content-hot-deals .page-header {
  margin-top: 7px; }
  .content-main .content-hot-deals .page-header img.category {
    width: 100%; }
.content-main .content-hot-deals .caption {
  text-align: center; }

.foot .container .panel-body {
  background-image: url("../img/bg-footer.png"); }
  .foot .container .panel-body .navbar-static-bottom .beringharjo-foot {
    color: white;
    font-weight: bold; }
  .foot .container .panel-body .navbar-static-bottom ul.beringharjo-footer {
    padding-left: 0; }
    .foot .container .panel-body .navbar-static-bottom ul.beringharjo-footer li {
      list-style: none;
      text-decoration: none; }
      .foot .container .panel-body .navbar-static-bottom ul.beringharjo-footer li a.beringharjo-footer {
        color: white;
        text-decoration: none; }
        .foot .container .panel-body .navbar-static-bottom ul.beringharjo-footer li a.beringharjo-footer:hover {
          color: #333;
          text-decoration: none; }
  .foot .container .panel-body .navbar-static-bottom .sponsor {
    text-align: center;
    color: white;
    font-weight: bold; }

/*# sourceMappingURL=sass_stye.css.map */
