@font-face {
  body {
    font-family: humanst521-bt;
    src: url(fonts/humanst521-bt.ttf); } }
.header .container .navbar-nol .navbar-menu-1 {
  margin-bottom: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: 0;
  background-color: white; }
  .header .container .navbar-nol .navbar-menu-1 .navbar-brand {
    margin-top: -5px;
    margin-left: 8px; }
  .header .container .navbar-nol .navbar-menu-1 .navbar-collapse .input-group input.form-control {
    top: 20px;
    border-right: 0;
    width: 110%; }
  .header .container .navbar-nol .navbar-menu-1 .navbar-collapse .input-group button.dropdown-toggle {
    top: 4px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0; }
  .header .container .navbar-nol .navbar-menu-1 .navbar-collapse .input-group button.btn-success {
    position: relative;
    top: 7px;
    left: 55px; }
  .header .container .navbar-nol .navbar-menu-1 .navbar-collapse .input-group ul.navbar-right {
    margin-left: -92px;
    position: relative;
    left: -30px; }
    .header .container .navbar-nol .navbar-menu-1 .navbar-collapse .input-group ul.navbar-right .Notification {
      position: relative;
      right: 0; }
  .header .container .navbar-nol .navbar-menu-1 .navbar-collapse .input-group a.register {
    text-decoration: underline;
    position: relative;
    top: 10px;
    right: -193px;
    font-weight: bold;
    color: #458b00; }
    .header .container .navbar-nol .navbar-menu-1 .navbar-collapse .input-group a.register:hover {
      text-decoration: none;
      color: green; }
  .header .container .navbar-nol .navbar-menu-1 .navbar-collapse .input-group .input-group-btn button.dropdown-toggle {
    position: relative;
    left: 51px;
    top: 5px; }
  .header .container .navbar-nol .navbar-menu-1 .navbar-collapse .input-group .input-group-btn ul.dropdown-menu {
    margin-top: -10px;
    margin-right: -71px; }
.header .container .navbar-nol .navbar-menu-2 {
  margin-bottom: -1px;
  border-radius: 0;
  background-color: white;
  border-top: 0px none;
  border-bottom: 0px none; }
  .header .container .navbar-nol .navbar-menu-2 .container .navbar-collapse li a.link {
    padding-left: 50.5px;
    padding-right: 50px;
    font-weight: bold;
    border: 1px solid #ccc; }
    .header .container .navbar-nol .navbar-menu-2 .container .navbar-collapse li a.link:active {
      color: white;
      background-color: #228b22; }
    .header .container .navbar-nol .navbar-menu-2 .container .navbar-collapse li a.link:hover {
      color: white;
      background-color: #228b22; }
.header .container .navbar-satu .navbar-menu-1 {
  margin-bottom: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: 0;
  background-color: white; }
  .header .container .navbar-satu .navbar-menu-1 .navbar-brand {
    margin-top: -5px;
    margin-left: 8px; }
  .header .container .navbar-satu .navbar-menu-1 .navbar-collapse .input-group input.form-control {
    top: 20px;
    border-right: 0;
    width: 114%; }
  .header .container .navbar-satu .navbar-menu-1 .navbar-collapse .input-group button.dropdown-toggle {
    top: 4px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0; }
  .header .container .navbar-satu .navbar-menu-1 .navbar-collapse .input-group button.btn-success {
    position: relative;
    top: 7px;
    left: 78px; }
  .header .container .navbar-satu .navbar-menu-1 .navbar-collapse .input-group ul.navbar-right {
    margin-left: -92px;
    position: relative;
    left: -30px; }
    .header .container .navbar-satu .navbar-menu-1 .navbar-collapse .input-group ul.navbar-right .Notification {
      position: relative;
      right: 0; }
  .header .container .navbar-satu .navbar-menu-1 .navbar-collapse .input-group a.register {
    text-decoration: underline;
    position: relative;
    top: 10px;
    right: -208px;
    font-weight: bold;
    color: #458b00; }
    .header .container .navbar-satu .navbar-menu-1 .navbar-collapse .input-group a.register:hover {
      text-decoration: none;
      color: green; }
  .header .container .navbar-satu .navbar-menu-1 .navbar-collapse .input-group .input-group-btn button.dropdown-toggle {
    position: relative;
    left: 72px; }
  .header .container .navbar-satu .navbar-menu-1 .navbar-collapse .input-group .input-group-btn ul.ropdown-menu-right {
    margin-right: -71px; }
.header .container .navbar-satu .navbar-menu-2 {
  margin-bottom: -1px;
  border-radius: 0;
  background-color: white;
  border-top: 0px none;
  border-bottom: 0px none; }
  .header .container .navbar-satu .navbar-menu-2 .container .navbar-collapse li a.link {
    padding-left: 50px;
    padding-right: 49px;
    font-weight: bold;
    border: 1px solid #ccc; }
    .header .container .navbar-satu .navbar-menu-2 .container .navbar-collapse li a.link:active {
      color: white;
      background-color: #228b22; }
    .header .container .navbar-satu .navbar-menu-2 .container .navbar-collapse li a.link:hover {
      color: white;
      background-color: #228b22; }

.content-main .content-top .container .panel {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  border-top: transparent; }
  .content-main .content-top .container .panel .panel-body .content-satu .bottom-left {
    height: 195px;
    margin-right: -10px;
    margin-top: -10px; }
    .content-main .content-top .container .panel .panel-body .content-satu .bottom-left .sub-bottom-left {
      height: 185px;
      object-fit: cover; }
  .content-main .content-top .container .panel .panel-body .content-satu .second-bottom-left {
    height: 195px;
    margin-left: -10px;
    margin-top: -10px; }
    .content-main .content-top .container .panel .panel-body .content-satu .second-bottom-left .sub-second-bottom-left {
      height: 185px;
      object-fit: cover; }
  .content-main .content-top .container .panel .panel-body .content-dua .center-image {
    margin-left: -18px;
    margin-right: -18px;
    height: 555px;
    object-fit: cover; }
    .content-main .content-top .container .panel .panel-body .content-dua .center-image .sub-center-image {
      object-fit: cover;
      height: 545px; }
  .content-main .content-top .container .panel .panel-body .content-dua .right {
    object-fit: cover;
    height: 275px;
    margin-bottom: 20px; }
    .content-main .content-top .container .panel .panel-body .content-dua .right .sub-right {
      height: 265px;
      object-fit: cover; }
  .content-main .content-top .container .panel .panel-body .content-dua .bottom-right {
    object-fit: cover;
    height: 270px;
    margin-top: -10px; }
    .content-main .content-top .container .panel .panel-body .content-dua .bottom-right .sub-bottom-right {
      height: 260px;
      object-fit: cover; }
.content-main .content-fashion .panel-body .page-header img.category {
  width: 100%;
  margin-top: -40px; }
.content-main .content-fashion .panel-body .col-md-12 .row .caption {
  text-align: center; }
.content-main .content-fashion .panel-body .col-md-12 .row .thumbnail {
  margin: -10px; }
.content-main .content-fashion .panel-body .col-md-12 .row .col-md-2 {
  margin-top: 15px; }
  .content-main .content-fashion .panel-body .col-md-12 .row .col-md-2 .caption a.lainnya h5 {
    text-align: center;
    margin-top: 10px;
    text-decoration: none;
    font-weight: bold;
    color: #bababa; }
    .content-main .content-fashion .panel-body .col-md-12 .row .col-md-2 .caption a.lainnya h5:hover {
      text-decoration: none;
      color: #383838;
      font-style: normal;
      text-decoration-style: unset; }
  .content-main .content-fashion .panel-body .col-md-12 .row .col-md-2 .caption a.lainnya:hover {
    text-decoration: none; }
.content-main .content-kerajinan .panel-body .page-header img.category {
  width: 100%;
  margin-top: -40px; }
.content-main .content-kerajinan .panel-body .col-md-12 .row .caption {
  text-align: center; }
.content-main .content-kerajinan .panel-body .col-md-12 .row .thumbnail {
  margin: -10px; }
.content-main .content-kerajinan .panel-body .col-md-12 .row .col-md-2 {
  margin-top: 15px; }
  .content-main .content-kerajinan .panel-body .col-md-12 .row .col-md-2 .caption a.lainnya h5 {
    text-align: center;
    margin-top: 10px;
    text-decoration: none;
    font-weight: bold;
    color: #bababa; }
    .content-main .content-kerajinan .panel-body .col-md-12 .row .col-md-2 .caption a.lainnya h5:hover {
      text-decoration: none;
      color: #383838;
      font-style: normal;
      text-decoration-style: unset; }
  .content-main .content-kerajinan .panel-body .col-md-12 .row .col-md-2 .caption a.lainnya:hover {
    text-decoration: none; }
.content-main .content-perabotan .panel-body .page-header img.category {
  width: 100%;
  margin-top: -40px; }
.content-main .content-perabotan .panel-body .col-md-12 .row .caption {
  text-align: center; }
.content-main .content-perabotan .panel-body .col-md-12 .row .thumbnail {
  margin: -10px; }
.content-main .content-perabotan .panel-body .col-md-12 .row .col-md-2 {
  margin-top: 15px; }
  .content-main .content-perabotan .panel-body .col-md-12 .row .col-md-2 .caption a.lainnya h5 {
    text-align: center;
    margin-top: 10px;
    text-decoration: none;
    font-weight: bold;
    color: #bababa; }
    .content-main .content-perabotan .panel-body .col-md-12 .row .col-md-2 .caption a.lainnya h5:hover {
      text-decoration: none;
      color: #383838;
      font-style: normal;
      text-decoration-style: unset; }
  .content-main .content-perabotan .panel-body .col-md-12 .row .col-md-2 .caption a.lainnya:hover {
    text-decoration: none; }
.content-main .content-herbal .panel-body .page-header img.category {
  width: 100%;
  margin-top: -40px; }
.content-main .content-herbal .panel-body .col-md-12 .row .caption {
  text-align: center; }
.content-main .content-herbal .panel-body .col-md-12 .row .thumbnail {
  margin: -10px; }
.content-main .content-herbal .panel-body .col-md-12 .row .col-md-2 {
  margin-top: 15px; }
  .content-main .content-herbal .panel-body .col-md-12 .row .col-md-2 .caption a.lainnya h5 {
    text-align: center;
    margin-top: 10px;
    text-decoration: none;
    font-weight: bold;
    color: #bababa; }
    .content-main .content-herbal .panel-body .col-md-12 .row .col-md-2 .caption a.lainnya h5:hover {
      text-decoration: none;
      color: #383838;
      font-style: normal;
      text-decoration-style: unset; }
  .content-main .content-herbal .panel-body .col-md-12 .row .col-md-2 .caption a.lainnya:hover {
    text-decoration: none; }
.content-main .content-kuliner .panel-body .page-header img.category {
  width: 100%;
  margin-top: -40px; }
.content-main .content-kuliner .panel-body .col-md-12 .row .caption {
  text-align: center; }
.content-main .content-kuliner .panel-body .col-md-12 .row .thumbnail {
  margin: -10px; }
.content-main .content-kuliner .panel-body .col-md-12 .row .col-md-2 {
  margin-top: 15px; }
  .content-main .content-kuliner .panel-body .col-md-12 .row .col-md-2 .caption a.lainnya h5 {
    text-align: center;
    margin-top: 10px;
    text-decoration: none;
    font-weight: bold;
    color: #bababa; }
    .content-main .content-kuliner .panel-body .col-md-12 .row .col-md-2 .caption a.lainnya h5:hover {
      text-decoration: none;
      color: #383838;
      font-style: normal;
      text-decoration-style: unset; }
  .content-main .content-kuliner .panel-body .col-md-12 .row .col-md-2 .caption a.lainnya:hover {
    text-decoration: none; }
.content-main .content-hot-deals .panel-body .page-header img.category {
  width: 100%;
  margin-top: -40px; }
.content-main .content-hot-deals .panel-body .col-md-12 .row .caption {
  text-align: center; }
.content-main .content-hot-deals .panel-body .col-md-12 .row .thumbnail {
  margin: -10px; }
.content-main .content-hot-deals .panel-body .col-md-12 .row .col-md-2 {
  margin-top: 15px; }
  .content-main .content-hot-deals .panel-body .col-md-12 .row .col-md-2 .caption a.lainnya h5 {
    text-align: center;
    margin-top: 10px;
    text-decoration: none;
    font-weight: bold;
    color: #bababa; }
    .content-main .content-hot-deals .panel-body .col-md-12 .row .col-md-2 .caption a.lainnya h5:hover {
      text-decoration: none;
      color: #383838;
      font-style: normal;
      text-decoration-style: unset; }
  .content-main .content-hot-deals .panel-body .col-md-12 .row .col-md-2 .caption a.lainnya:hover {
    text-decoration: none; }

.foot .container .panel-body {
  background-image: url("../img/bg-footer.png"); }
  .foot .container .panel-body .navbar-static-bottom .col-lg-12 h4.beringharjo-foot {
    color: white;
    text-align: left; }
  .foot .container .panel-body .navbar-static-bottom .col-lg-12 ul.beringharjo-footer {
    padding-left: 0; }
    .foot .container .panel-body .navbar-static-bottom .col-lg-12 ul.beringharjo-footer li {
      list-style: none; }
      .foot .container .panel-body .navbar-static-bottom .col-lg-12 ul.beringharjo-footer li a.beringharjo-footer {
        text-decoration: none;
        color: white; }
        .foot .container .panel-body .navbar-static-bottom .col-lg-12 ul.beringharjo-footer li a.beringharjo-footer:hover {
          color: #1a1a1a; }
  .foot .container .panel-body .navbar-static-bottom .supported h4.sponsor {
    text-align: center;
    color: white; }
  .foot .container .panel-body .navbar-static-bottom .supported .row .col-md-6 a.beringharjo {
    background-color: #20b2aa; }

@media (min-width: 768px) and (max-width: 992px) {
  .header .container .row .navbar-menu-1 .container .navbar-collapse .input-group input.form-control {
    width: 200px; }
  .header .container .row .navbar-menu-1 .container .navbar-collapse .input-group .input-group-btn button.dropdown-toggle {
    position: relative;
    left: -100px;
    top: 5px; }
  .header .container .row .navbar-menu-1 .container .navbar-collapse .input-group .input-group-btn ul.dropdown-menu {
    margin-right: 32px;
    margin-top: -10px; }
  .header .container .row .navbar-menu-1 .container .navbar-collapse .input-group .btn-success {
    position: relative;
    left: -95px; }
  .header .container .row .navbar-menu-1 .container .navbar-collapse .input-group ul.navbar-nav {
    position: relative;
    left: -65px; }
    .header .container .row .navbar-menu-1 .container .navbar-collapse .input-group ul.navbar-nav a.cart img {
      position: relative;
      left: -15px; }
  .header .container .row .navbar-menu-1 .container .navbar-collapse .input-group a.register {
    text-decoration: underline;
    position: relative;
    top: 10px;
    right: -48px;
    font-weight: bold;
    color: #458b00; }
    .header .container .row .navbar-menu-1 .container .navbar-collapse .input-group a.register:hover {
      text-decoration: none;
      color: green; }
  .header .container .row .navbar-menu-2 .container .navbar-collapse ul.navbar-nav li a.link {
    padding-left: 19px;
    padding-right: 20px; }

  .content-main .content-top .container .row .content-nol .row .col-xs-12 .caption {
    text-align: center;
    margin-bottom: -13px; }
  .content-main .content-top .container .row .content-nol .row .col-xs-6 .bottom-left-nol {
    margin-top: -10px;
    width: 337px; }
    .content-main .content-top .container .row .content-nol .row .col-xs-6 .bottom-left-nol .caption {
      text-align: center;
      margin-bottom: -13px; }
  .content-main .content-top .container .row .content-nol .row .col-xs-6 .bottom-left-satu {
    margin-top: -10px;
    width: 337px;
    margin-left: -8px; }
    .content-main .content-top .container .row .content-nol .row .col-xs-6 .bottom-left-satu .caption {
      text-align: center;
      margin-bottom: -13px; }
  .content-main .content-top .container .row .content-nol .row .col-md-2 .caption a.lainnya h6 {
    text-align: center;
    font-weight: bold; }
    .content-main .content-top .container .row .content-nol .row .col-md-2 .caption a.lainnya h6:hover {
      text-decoration: none;
      color: green;
      font-style: normal;
      text-decoration-style: unset; }
  .content-main .content-fashion .container .row .panel-body .page-header {
    margin-bottom: -12px;
    padding-bottom: 0px;
    position: relative;
    top: -17px;
    height: 7px;
    padding-left: 20px;
    padding-right: 20px;
    border-bottom: transparent; }
  .content-main .content-fashion .container .row .panel-body .content-tablet .col-xs-12 .thumbnail {
    margin: 5px;
    margin-bottom: 10px; }
    .content-main .content-fashion .container .row .panel-body .content-tablet .col-xs-12 .thumbnail .caption {
      text-align: center;
      margin-bottom: -13px; }
  .content-main .content-fashion .container .row .panel-body .content-tablet .col-xs-6 .bottom-left-nol {
    margin: 5px;
    margin-bottom: 10px;
    width: 333px;
    margin-top: 0px; }
    .content-main .content-fashion .container .row .panel-body .content-tablet .col-xs-6 .bottom-left-nol .caption {
      text-align: center;
      margin-bottom: -13px; }
  .content-main .content-fashion .container .row .panel-body .content-tablet .col-xs-6 .second-bottom-left-nol {
    margin: 5px;
    margin-bottom: 10px;
    width: 333px;
    margin-left: -9px;
    margin-top: 0px; }
    .content-main .content-fashion .container .row .panel-body .content-tablet .col-xs-6 .second-bottom-left-nol .caption {
      text-align: center;
      margin-bottom: -13px; }
  .content-main .content-fashion .container .row .panel-body .content-tablet .col-md-2 .caption a.lainnya h6 {
    text-align: center;
    font-weight: bold; }
    .content-main .content-fashion .container .row .panel-body .content-tablet .col-md-2 .caption a.lainnya h6:hover {
      text-decoration: none;
      color: green;
      font-style: normal;
      text-decoration-style: unset; }
  .content-main .content-kerajinan .container .row .panel-body .page-header {
    margin-bottom: -12px;
    padding-bottom: 0px;
    position: relative;
    top: -17px;
    height: 7px;
    padding-left: 20px;
    padding-right: 20px;
    border-bottom: transparent; }
  .content-main .content-kerajinan .container .row .panel-body .content-tablet .col-xs-12 .thumbnail {
    margin: 5px;
    margin-bottom: 10px; }
    .content-main .content-kerajinan .container .row .panel-body .content-tablet .col-xs-12 .thumbnail .caption {
      text-align: center;
      margin-bottom: -13px; }
  .content-main .content-kerajinan .container .row .panel-body .content-tablet .col-xs-6 .bottom-left-nol {
    margin: 5px;
    margin-bottom: 10px;
    width: 333px;
    margin-top: 0px; }
    .content-main .content-kerajinan .container .row .panel-body .content-tablet .col-xs-6 .bottom-left-nol .caption {
      text-align: center;
      margin-bottom: -13px; }
  .content-main .content-kerajinan .container .row .panel-body .content-tablet .col-xs-6 .second-bottom-left-nol {
    margin: 5px;
    margin-bottom: 10px;
    width: 333px;
    margin-left: -9px;
    margin-top: 0px; }
    .content-main .content-kerajinan .container .row .panel-body .content-tablet .col-xs-6 .second-bottom-left-nol .caption {
      text-align: center;
      margin-bottom: -13px; }
  .content-main .content-kerajinan .container .row .panel-body .content-tablet .col-md-2 .caption a.lainnya h6 {
    text-align: center;
    font-weight: bold; }
    .content-main .content-kerajinan .container .row .panel-body .content-tablet .col-md-2 .caption a.lainnya h6:hover {
      text-decoration: none;
      color: green;
      font-style: normal;
      text-decoration-style: unset; }
  .content-main .content-perabotan .container .row .panel-body .page-header {
    margin-bottom: -12px;
    padding-bottom: 0px;
    position: relative;
    top: -17px;
    height: 7px;
    padding-left: 20px;
    padding-right: 20px;
    border-bottom: transparent; }
  .content-main .content-perabotan .container .row .panel-body .content-tablet .col-xs-12 .thumbnail {
    margin: 5px;
    margin-bottom: 10px; }
    .content-main .content-perabotan .container .row .panel-body .content-tablet .col-xs-12 .thumbnail .caption {
      text-align: center;
      margin-bottom: -13px; }
  .content-main .content-perabotan .container .row .panel-body .content-tablet .col-xs-6 .bottom-left-nol {
    margin: 5px;
    margin-bottom: 10px;
    width: 333px;
    margin-top: 0px; }
    .content-main .content-perabotan .container .row .panel-body .content-tablet .col-xs-6 .bottom-left-nol .caption {
      text-align: center;
      margin-bottom: -13px; }
  .content-main .content-perabotan .container .row .panel-body .content-tablet .col-xs-6 .second-bottom-left-nol {
    margin: 5px;
    margin-bottom: 10px;
    width: 333px;
    margin-left: -9px;
    margin-top: 0px; }
    .content-main .content-perabotan .container .row .panel-body .content-tablet .col-xs-6 .second-bottom-left-nol .caption {
      text-align: center;
      margin-bottom: -13px; }
  .content-main .content-perabotan .container .row .panel-body .content-tablet .col-md-2 .caption a.lainnya h6 {
    text-align: center;
    font-weight: bold; }
    .content-main .content-perabotan .container .row .panel-body .content-tablet .col-md-2 .caption a.lainnya h6:hover {
      text-decoration: none;
      color: green;
      font-style: normal;
      text-decoration-style: unset; }
  .content-main .content-herbal .container .row .panel-body .page-header {
    margin-bottom: -12px;
    padding-bottom: 0px;
    position: relative;
    top: -17px;
    height: 7px;
    padding-left: 20px;
    padding-right: 20px;
    border-bottom: transparent; }
  .content-main .content-herbal .container .row .panel-body .content-tablet .col-xs-12 .thumbnail {
    margin: 5px;
    margin-bottom: 10px; }
    .content-main .content-herbal .container .row .panel-body .content-tablet .col-xs-12 .thumbnail .caption {
      text-align: center;
      margin-bottom: -13px; }
  .content-main .content-herbal .container .row .panel-body .content-tablet .col-xs-6 .bottom-left-nol {
    margin: 5px;
    margin-bottom: 10px;
    width: 333px;
    margin-top: 0px; }
    .content-main .content-herbal .container .row .panel-body .content-tablet .col-xs-6 .bottom-left-nol .caption {
      text-align: center;
      margin-bottom: -13px; }
  .content-main .content-herbal .container .row .panel-body .content-tablet .col-xs-6 .second-bottom-left-nol {
    margin: 5px;
    margin-bottom: 10px;
    width: 333px;
    margin-left: -9px;
    margin-top: 0px; }
    .content-main .content-herbal .container .row .panel-body .content-tablet .col-xs-6 .second-bottom-left-nol .caption {
      text-align: center;
      margin-bottom: -13px; }
  .content-main .content-herbal .container .row .panel-body .content-tablet .col-md-2 .caption a.lainnya h6 {
    text-align: center;
    font-weight: bold; }
    .content-main .content-herbal .container .row .panel-body .content-tablet .col-md-2 .caption a.lainnya h6:hover {
      text-decoration: none;
      color: green;
      font-style: normal;
      text-decoration-style: unset; }
  .content-main .content-kuliner .container .row .panel-body .page-header {
    margin-bottom: -12px;
    padding-bottom: 0px;
    position: relative;
    top: -17px;
    height: 7px;
    padding-left: 20px;
    padding-right: 20px;
    border-bottom: transparent; }
  .content-main .content-kuliner .container .row .panel-body .content-tablet .col-xs-12 .thumbnail {
    margin: 5px;
    margin-bottom: 10px; }
    .content-main .content-kuliner .container .row .panel-body .content-tablet .col-xs-12 .thumbnail .caption {
      text-align: center;
      margin-bottom: -13px; }
  .content-main .content-kuliner .container .row .panel-body .content-tablet .col-xs-6 .bottom-left-nol {
    margin: 5px;
    margin-bottom: 10px;
    width: 333px;
    margin-top: 0px; }
    .content-main .content-kuliner .container .row .panel-body .content-tablet .col-xs-6 .bottom-left-nol .caption {
      text-align: center;
      margin-bottom: -13px; }
  .content-main .content-kuliner .container .row .panel-body .content-tablet .col-xs-6 .second-bottom-left-nol {
    margin: 5px;
    margin-bottom: 10px;
    width: 333px;
    margin-left: -9px;
    margin-top: 0px; }
    .content-main .content-kuliner .container .row .panel-body .content-tablet .col-xs-6 .second-bottom-left-nol .caption {
      text-align: center;
      margin-bottom: -13px; }
  .content-main .content-kuliner .container .row .panel-body .content-tablet .col-md-2 .caption a.lainnya h6 {
    text-align: center;
    font-weight: bold; }
    .content-main .content-kuliner .container .row .panel-body .content-tablet .col-md-2 .caption a.lainnya h6:hover {
      text-decoration: none;
      color: green;
      font-style: normal;
      text-decoration-style: unset; }
  .content-main .content-hot-deals .container .row .panel-body .page-header {
    margin-bottom: -12px;
    padding-bottom: 0px;
    position: relative;
    top: -17px;
    height: 7px;
    padding-left: 20px;
    padding-right: 20px;
    border-bottom: transparent; }
  .content-main .content-hot-deals .container .row .panel-body .content-tablet .col-xs-12 .thumbnail {
    margin: 5px;
    margin-bottom: 10px; }
    .content-main .content-hot-deals .container .row .panel-body .content-tablet .col-xs-12 .thumbnail .caption {
      text-align: center;
      margin-bottom: -13px; }
  .content-main .content-hot-deals .container .row .panel-body .content-tablet .col-xs-6 .thumbnail {
    margin: 5px;
    margin-bottom: 10px; }
    .content-main .content-hot-deals .container .row .panel-body .content-tablet .col-xs-6 .thumbnail .caption {
      text-align: center;
      margin-bottom: -13px; }
  .content-main .content-hot-deals .container .row .panel-body .content-tablet .col-md-2 .caption a.lainnya h6 {
    text-align: center;
    font-weight: bold; }
    .content-main .content-hot-deals .container .row .panel-body .content-tablet .col-md-2 .caption a.lainnya h6:hover {
      text-decoration: none;
      color: green;
      font-style: normal;
      text-decoration-style: unset; }

  .foot .container .row .panel-body .navbar-static-bottom .supported .col-md-6 {
    padding-left: 37%; } }
@media (min-width: 360px) and (max-width: 767px) {
  .header .container .row .navbar-dua .navbar-menu-1 #bs-example-navbar-collapse-3 ul.navbar-nav form.navbar-form-search input.form-control {
    width: 100%;
    text-align: center; }
  .header .container .row .navbar-dua .navbar-menu-1 #bs-example-navbar-collapse-3 ul.navbar-nav form.navbar-form-search button.btn-success {
    width: 100%; }
  .header .container .row .navbar-dua .navbar-menu-1 #bs-example-navbar-collapse-3 ul.navbar-nav form.navbar-form-register {
    margin-top: -9px; }
    .header .container .row .navbar-dua .navbar-menu-1 #bs-example-navbar-collapse-3 ul.navbar-nav form.navbar-form-register button.btn-info {
      width: 100%; }
  .header .container .row .navbar-dua .navbar-menu-1 #bs-example-navbar-collapse-3 ul.navbar-nav li a.link {
    font-weight: bold;
    color: gray; }
    .header .container .row .navbar-dua .navbar-menu-1 #bs-example-navbar-collapse-3 ul.navbar-nav li a.link:hover {
      color: white;
      background-color: #228b22; }
    .header .container .row .navbar-dua .navbar-menu-1 #bs-example-navbar-collapse-3 ul.navbar-nav li a.link.active {
      color: white;
      background-color: #228b22; }

  .content-main .content-top-2 .container .panel .panel-body .col-xs-12 .row .col-xs-6 .bottom-left {
    object-fit: cover;
    margin-left: -15px;
    margin-top: -16px;
    width: 146px; }
  .content-main .content-top-2 .container .panel .panel-body .col-xs-12 .row .col-xs-6 .second-bottom-left {
    object-fit: cover;
    margin-left: 0;
    margin-top: -16px;
    width: 146px; }
  .content-main .content-fashion-2 .container .panel .panel-body .page-header img.category {
    width: 100%;
    margin-bottom: -7px; }
  .content-main .content-fashion-2 .container .panel .panel-body .col-xs-12 .row .col-xs-6 .bottom-left {
    object-fit: cover;
    margin-left: -15px;
    margin-top: -16px;
    width: 146px; }
  .content-main .content-fashion-2 .container .panel .panel-body .col-xs-12 .row .col-xs-6 .second-bottom-left {
    object-fit: cover;
    margin-left: 0;
    margin-top: -16px;
    width: 146px; }
  .content-main .content-fashion-2 .container .panel .panel-body .col-xs-12 .row .col-md-2 .caption {
    text-align: center;
    position: relative;
    top: -7px;
    margin-bottom: -7px; }
    .content-main .content-fashion-2 .container .panel .panel-body .col-xs-12 .row .col-md-2 .caption h6 {
      font-weight: bold; }
      .content-main .content-fashion-2 .container .panel .panel-body .col-xs-12 .row .col-md-2 .caption h6:hover {
        color: green; }
  .content-main .content-kerajinan-2 .container .panel .panel-body .page-header img.category {
    width: 100%;
    margin-bottom: -7px; }
  .content-main .content-kerajinan-2 .container .panel .panel-body .col-xs-12 .row .col-xs-6 .bottom-left {
    object-fit: cover;
    margin-left: -15px;
    margin-top: -16px;
    width: 146px; }
  .content-main .content-kerajinan-2 .container .panel .panel-body .col-xs-12 .row .col-xs-6 .second-bottom-left {
    object-fit: cover;
    margin-left: 0;
    margin-top: -16px;
    width: 146px; }
  .content-main .content-kerajinan-2 .container .panel .panel-body .col-xs-12 .row .col-md-2 .caption {
    text-align: center;
    position: relative;
    top: -7px;
    margin-bottom: -7px; }
    .content-main .content-kerajinan-2 .container .panel .panel-body .col-xs-12 .row .col-md-2 .caption h6 {
      font-weight: bold; }
      .content-main .content-kerajinan-2 .container .panel .panel-body .col-xs-12 .row .col-md-2 .caption h6:hover {
        color: green; }
  .content-main .content-perabotan-2 .container .panel .panel-body .page-header img.category {
    width: 100%;
    margin-bottom: -7px; }
  .content-main .content-perabotan-2 .container .panel .panel-body .col-xs-12 .row .col-xs-6 .bottom-left {
    object-fit: cover;
    margin-left: -15px;
    margin-top: -16px;
    width: 146px; }
  .content-main .content-perabotan-2 .container .panel .panel-body .col-xs-12 .row .col-xs-6 .second-bottom-left {
    object-fit: cover;
    margin-left: 0;
    margin-top: -16px;
    width: 146px; }
  .content-main .content-perabotan-2 .container .panel .panel-body .col-xs-12 .row .col-md-2 .caption {
    text-align: center;
    position: relative;
    top: -7px;
    margin-bottom: -7px; }
    .content-main .content-perabotan-2 .container .panel .panel-body .col-xs-12 .row .col-md-2 .caption h6 {
      font-weight: bold; }
      .content-main .content-perabotan-2 .container .panel .panel-body .col-xs-12 .row .col-md-2 .caption h6:hover {
        color: green; }
  .content-main .content-herbal-2 .container .panel .panel-body .page-header img.category {
    width: 100%;
    margin-bottom: -7px; }
  .content-main .content-herbal-2 .container .panel .panel-body .col-xs-12 .row .col-xs-6 .bottom-left {
    object-fit: cover;
    margin-left: -15px;
    margin-top: -16px;
    width: 146px; }
  .content-main .content-herbal-2 .container .panel .panel-body .col-xs-12 .row .col-xs-6 .second-bottom-left {
    object-fit: cover;
    margin-left: 0;
    margin-top: -16px;
    width: 146px; }
  .content-main .content-herbal-2 .container .panel .panel-body .col-xs-12 .row .col-md-2 .caption {
    text-align: center;
    position: relative;
    top: -7px;
    margin-bottom: -7px; }
    .content-main .content-herbal-2 .container .panel .panel-body .col-xs-12 .row .col-md-2 .caption h6 {
      font-weight: bold; }
      .content-main .content-herbal-2 .container .panel .panel-body .col-xs-12 .row .col-md-2 .caption h6:hover {
        color: green; }
  .content-main .content-kuliner-2 .container .panel .panel-body .page-header img.category {
    width: 100%;
    margin-bottom: -7px; }
  .content-main .content-kuliner-2 .container .panel .panel-body .col-xs-12 .row .col-xs-6 .bottom-left {
    object-fit: cover;
    margin-left: -15px;
    margin-top: -16px;
    width: 146px; }
  .content-main .content-kuliner-2 .container .panel .panel-body .col-xs-12 .row .col-xs-6 .second-bottom-left {
    object-fit: cover;
    margin-left: 0;
    margin-top: -16px;
    width: 146px; }
  .content-main .content-kuliner-2 .container .panel .panel-body .col-xs-12 .row .col-md-2 .caption {
    text-align: center;
    position: relative;
    top: -7px;
    margin-bottom: -7px; }
    .content-main .content-kuliner-2 .container .panel .panel-body .col-xs-12 .row .col-md-2 .caption h6 {
      font-weight: bold; }
      .content-main .content-kuliner-2 .container .panel .panel-body .col-xs-12 .row .col-md-2 .caption h6:hover {
        color: green; }
  .content-main .content-hot-deals-2 .container .panel .panel-body .page-header img.category {
    width: 100%;
    margin-bottom: -7px; }
  .content-main .content-hot-deals-2 .container .panel .panel-body .col-xs-12 .row .col-xs-6 .bottom-left {
    object-fit: cover;
    margin-left: -15px;
    margin-top: -16px;
    width: 146px; }
  .content-main .content-hot-deals-2 .container .panel .panel-body .col-xs-12 .row .col-xs-6 .second-bottom-left {
    object-fit: cover;
    margin-left: 0;
    margin-top: -16px;
    width: 146px; }
  .content-main .content-hot-deals-2 .container .panel .panel-body .col-xs-12 .row .col-md-2 .caption {
    text-align: center;
    position: relative;
    top: -7px;
    margin-bottom: -7px; }
    .content-main .content-hot-deals-2 .container .panel .panel-body .col-xs-12 .row .col-md-2 .caption h6 {
      font-weight: bold; }
      .content-main .content-hot-deals-2 .container .panel .panel-body .col-xs-12 .row .col-md-2 .caption h6:hover {
        color: green; }

  .foot .container .row .panel-body nav.navbar-static-bottom .supported .col-md-6 {
    margin-left: 55px; } }
@media (min-width: 320px) and (max-width: 360px) {
  .header .container .row .navbar-dua .navbar-menu-1 .navbar-header a.navbar-brand {
    padding-top: 5px; }
  .header .container .row .navbar-dua .navbar-menu-1 #bs-example-navbar-collapse-3 ul.navbar-nav form.navbar-form-search input.form-control {
    width: 100%;
    text-align: center; }
  .header .container .row .navbar-dua .navbar-menu-1 #bs-example-navbar-collapse-3 ul.navbar-nav form.navbar-form-search button.btn-success {
    width: 100%; }
  .header .container .row .navbar-dua .navbar-menu-1 #bs-example-navbar-collapse-3 ul.navbar-nav form.navbar-form-register {
    margin-top: -9px; }
    .header .container .row .navbar-dua .navbar-menu-1 #bs-example-navbar-collapse-3 ul.navbar-nav form.navbar-form-register button.btn-info {
      width: 100%; }
  .header .container .row .navbar-dua .navbar-menu-1 #bs-example-navbar-collapse-3 ul.navbar-nav li a.link {
    font-weight: bold;
    color: gray; }
    .header .container .row .navbar-dua .navbar-menu-1 #bs-example-navbar-collapse-3 ul.navbar-nav li a.link:hover {
      color: white;
      background-color: #228b22; }
    .header .container .row .navbar-dua .navbar-menu-1 #bs-example-navbar-collapse-3 ul.navbar-nav li a.link.active {
      color: white;
      background-color: #228b22; }

  .content-main .content-top-2 .container .panel .top .col-xs-12 {
    margin-bottom: -10px; }
    .content-main .content-top-2 .container .panel .top .col-xs-12 .caption {
      text-align: center; }
      .content-main .content-top-2 .container .panel .top .col-xs-12 .caption p {
        margin-bottom: 0; }
    .content-main .content-top-2 .container .panel .top .col-xs-12 .bottom-left {
      object-fit: cover;
      margin-left: -15px;
      margin-top: -16px;
      width: 127px; }
    .content-main .content-top-2 .container .panel .top .col-xs-12 .second-bottom-left {
      object-fit: cover;
      margin-right: -15px;
      margin-top: -16px;
      width: 127px;
      position: relative;
      right: 13px; }
  .content-main .content-fashion-2 .container .panel .panel-body {
    position: relative;
    top: -55px; }
    .content-main .content-fashion-2 .container .panel .panel-body .page-header img.category {
      width: 100%;
      margin-bottom: -7px; }
    .content-main .content-fashion-2 .container .panel .panel-body .col-xs-12 {
      margin-bottom: -35px; }
      .content-main .content-fashion-2 .container .panel .panel-body .col-xs-12 .top-left .caption {
        text-align: center; }
        .content-main .content-fashion-2 .container .panel .panel-body .col-xs-12 .top-left .caption p {
          margin-bottom: 0; }
      .content-main .content-fashion-2 .container .panel .panel-body .col-xs-12 .bottom-left {
        object-fit: cover;
        margin-left: -15px;
        margin-top: -16px;
        width: 127px;
        text-align: center; }
        .content-main .content-fashion-2 .container .panel .panel-body .col-xs-12 .bottom-left .caption {
          text-align: center; }
          .content-main .content-fashion-2 .container .panel .panel-body .col-xs-12 .bottom-left .caption p {
            margin-bottom: 0; }
      .content-main .content-fashion-2 .container .panel .panel-body .col-xs-12 .second-bottom-left {
        object-fit: cover;
        margin-right: -15px;
        margin-top: -16px;
        width: 127px;
        position: relative;
        right: 13px; }
        .content-main .content-fashion-2 .container .panel .panel-body .col-xs-12 .second-bottom-left .caption {
          text-align: center; }
          .content-main .content-fashion-2 .container .panel .panel-body .col-xs-12 .second-bottom-left .caption p {
            margin-bottom: 0; }
      .content-main .content-fashion-2 .container .panel .panel-body .col-xs-12 .col-md-2 .caption {
        text-align: center;
        position: relative;
        top: -7px;
        margin-bottom: -7px; }
        .content-main .content-fashion-2 .container .panel .panel-body .col-xs-12 .col-md-2 .caption h6 {
          font-weight: bold; }
          .content-main .content-fashion-2 .container .panel .panel-body .col-xs-12 .col-md-2 .caption h6:hover {
            color: green; }
  .content-main .content-kerajinan-2 .container .panel .panel-body {
    position: relative;
    top: -55px; }
    .content-main .content-kerajinan-2 .container .panel .panel-body .page-header img.category {
      width: 100%;
      margin-bottom: -7px; }
    .content-main .content-kerajinan-2 .container .panel .panel-body .col-xs-12 {
      margin-bottom: -35px; }
      .content-main .content-kerajinan-2 .container .panel .panel-body .col-xs-12 .caption {
        text-align: center; }
        .content-main .content-kerajinan-2 .container .panel .panel-body .col-xs-12 .caption p {
          margin-bottom: 0; }
      .content-main .content-kerajinan-2 .container .panel .panel-body .col-xs-12 .bottom-left {
        object-fit: cover;
        margin-left: -15px;
        margin-top: -16px;
        width: 127px; }
      .content-main .content-kerajinan-2 .container .panel .panel-body .col-xs-12 .second-bottom-left {
        object-fit: cover;
        margin-right: -15px;
        margin-top: -16px;
        width: 127px;
        position: relative;
        right: 13px; }
      .content-main .content-kerajinan-2 .container .panel .panel-body .col-xs-12 .col-md-2 .caption {
        text-align: center;
        position: relative;
        top: -7px;
        margin-bottom: -7px; }
        .content-main .content-kerajinan-2 .container .panel .panel-body .col-xs-12 .col-md-2 .caption h6 {
          font-weight: bold; }
          .content-main .content-kerajinan-2 .container .panel .panel-body .col-xs-12 .col-md-2 .caption h6:hover {
            color: green; }
  .content-main .content-perabotan-2 .container .panel .panel-body {
    position: relative;
    top: -55px; }
    .content-main .content-perabotan-2 .container .panel .panel-body .page-header img.category {
      width: 100%;
      margin-bottom: -7px; }
    .content-main .content-perabotan-2 .container .panel .panel-body .col-xs-12 {
      margin-bottom: -35px; }
      .content-main .content-perabotan-2 .container .panel .panel-body .col-xs-12 .caption {
        text-align: center; }
        .content-main .content-perabotan-2 .container .panel .panel-body .col-xs-12 .caption p {
          margin-bottom: 0; }
      .content-main .content-perabotan-2 .container .panel .panel-body .col-xs-12 .bottom-left {
        object-fit: cover;
        margin-left: -15px;
        margin-top: -16px;
        width: 127px; }
      .content-main .content-perabotan-2 .container .panel .panel-body .col-xs-12 .second-bottom-left {
        object-fit: cover;
        margin-right: -15px;
        margin-top: -16px;
        width: 127px;
        position: relative;
        right: 13px; }
      .content-main .content-perabotan-2 .container .panel .panel-body .col-xs-12 .col-md-2 .caption {
        text-align: center;
        position: relative;
        top: -7px;
        margin-bottom: -7px; }
        .content-main .content-perabotan-2 .container .panel .panel-body .col-xs-12 .col-md-2 .caption h6 {
          font-weight: bold; }
          .content-main .content-perabotan-2 .container .panel .panel-body .col-xs-12 .col-md-2 .caption h6:hover {
            color: green; }
  .content-main .content-herbal-2 .container .panel .panel-body {
    position: relative;
    top: -55px; }
    .content-main .content-herbal-2 .container .panel .panel-body .page-header img.category {
      width: 100%;
      margin-bottom: -7px; }
    .content-main .content-herbal-2 .container .panel .panel-body .col-xs-12 {
      margin-bottom: -35px; }
      .content-main .content-herbal-2 .container .panel .panel-body .col-xs-12 .caption {
        text-align: center; }
        .content-main .content-herbal-2 .container .panel .panel-body .col-xs-12 .caption p {
          margin-bottom: 0; }
      .content-main .content-herbal-2 .container .panel .panel-body .col-xs-12 .bottom-left {
        object-fit: cover;
        margin-left: -15px;
        margin-top: -16px;
        width: 127px; }
      .content-main .content-herbal-2 .container .panel .panel-body .col-xs-12 .second-bottom-left {
        object-fit: cover;
        margin-right: -15px;
        margin-top: -16px;
        width: 127px;
        position: relative;
        right: 13px; }
      .content-main .content-herbal-2 .container .panel .panel-body .col-xs-12 .col-md-2 .caption {
        text-align: center;
        position: relative;
        top: -7px;
        margin-bottom: -7px; }
        .content-main .content-herbal-2 .container .panel .panel-body .col-xs-12 .col-md-2 .caption h6 {
          font-weight: bold; }
          .content-main .content-herbal-2 .container .panel .panel-body .col-xs-12 .col-md-2 .caption h6:hover {
            color: green; }
  .content-main .content-kuliner-2 .container .panel .panel-body {
    position: relative;
    top: -55px; }
    .content-main .content-kuliner-2 .container .panel .panel-body .page-header img.category {
      width: 100%;
      margin-bottom: -7px; }
    .content-main .content-kuliner-2 .container .panel .panel-body .col-xs-12 {
      margin-bottom: -35px; }
      .content-main .content-kuliner-2 .container .panel .panel-body .col-xs-12 .caption {
        text-align: center; }
        .content-main .content-kuliner-2 .container .panel .panel-body .col-xs-12 .caption p {
          margin-bottom: 0; }
      .content-main .content-kuliner-2 .container .panel .panel-body .col-xs-12 .bottom-left {
        object-fit: cover;
        margin-left: -15px;
        margin-top: -16px;
        width: 127px; }
      .content-main .content-kuliner-2 .container .panel .panel-body .col-xs-12 .second-bottom-left {
        object-fit: cover;
        margin-right: -15px;
        margin-top: -16px;
        width: 127px;
        position: relative;
        right: 13px; }
      .content-main .content-kuliner-2 .container .panel .panel-body .col-xs-12 .col-md-2 .caption {
        text-align: center;
        position: relative;
        top: -7px;
        margin-bottom: -7px; }
        .content-main .content-kuliner-2 .container .panel .panel-body .col-xs-12 .col-md-2 .caption h6 {
          font-weight: bold; }
          .content-main .content-kuliner-2 .container .panel .panel-body .col-xs-12 .col-md-2 .caption h6:hover {
            color: green; }
  .content-main .content-hot-deals-2 .container .panel .panel-body {
    position: relative;
    top: -55px; }
    .content-main .content-hot-deals-2 .container .panel .panel-body .page-header img.category {
      width: 100%;
      margin-bottom: -7px; }
    .content-main .content-hot-deals-2 .container .panel .panel-body .col-xs-12 {
      margin-bottom: -35px; }
      .content-main .content-hot-deals-2 .container .panel .panel-body .col-xs-12 .caption {
        text-align: center; }
        .content-main .content-hot-deals-2 .container .panel .panel-body .col-xs-12 .caption p {
          margin-bottom: 0; }
      .content-main .content-hot-deals-2 .container .panel .panel-body .col-xs-12 .bottom-left {
        object-fit: cover;
        margin-left: -15px;
        margin-top: -16px;
        width: 127px; }
      .content-main .content-hot-deals-2 .container .panel .panel-body .col-xs-12 .second-bottom-left {
        object-fit: cover;
        margin-right: -15px;
        margin-top: -16px;
        width: 127px;
        position: relative;
        right: 13px; }
      .content-main .content-hot-deals-2 .container .panel .panel-body .col-xs-12 .col-md-2 .caption {
        text-align: center;
        position: relative;
        top: -7px;
        margin-bottom: -7px; }
        .content-main .content-hot-deals-2 .container .panel .panel-body .col-xs-12 .col-md-2 .caption h6 {
          font-weight: bold; }
          .content-main .content-hot-deals-2 .container .panel .panel-body .col-xs-12 .col-md-2 .caption h6:hover {
            color: green; }

  .foot .container .navbar-static-bottom .supported .col-md-6 {
    margin-left: 33px; } }

/*# sourceMappingURL=scss_style.css.map */
