$green: #228b22
$header-padding-left: 48px
$header-padding-right: 48px

.header
	.container
		.row
			a.navbar-brand
				padding-top: 5px

			.input-group
				padding-top: 8px
				width: 147%

			button.btn-success
				margin-top: 8px
				position: relative
				left: 235px

			nav.navbar-menu-1
				margin-bottom: 0
				border-radius: 3px 3px 0 0
				border-bottom: 0
				background-color: white
			.navbar-menu-2
				border-radius: 0px
				border-top: 0
				border-bottom: 0
				margin-bottom: 0
				background-color: white

				.navbar-collapse
					ul.navbar-nav
						li
							a.link
								padding-left: $header-padding-left
								padding-right: $header-padding-right
								margin-left: 4px
								font-weight: bold

								&:hover
									background-color: $green
									color: white

								&:active
									background-color: $green
									color: white

.content-main
	.thumbnail
		margin: -7px

	.content-top
		.panel-body .top
			border-radius: 0 

			.col-md-12
				.top-left
					height: 300px
					margin-bottom: 20px

					.sub-top-left
						height: 290px
						width: 100%
						object-fit: cover

				.center
					height: 488px

					.sub-center
						height: 477px
						object-fit: cover

				.right
					margin-bottom: 20px
					height: 237px

					.sub-right
						height: 227px
						object-fit: cover

				.bottom-right
					height: 237px

					.sub-bottom-right
						height: 227px
						object-fit: cover

	.content-fashion
		.page-header
			margin-top: 7px

			img.category
				width: 100%
		.caption
			text-align: center

	.content-kerajinan
		.page-header
			margin-top: 7px

			img.category
				width: 100%
		.caption
			text-align: center

	.content-perabotan
		.page-header
			margin-top: 7px

			img.category
				width: 100%
		.caption
			text-align: center

	.content-herbal
		.page-header
			margin-top: 7px

			img.category
				width: 100%
		.caption
			text-align: center

	.content-kuliner
		.page-header
			margin-top: 7px

			img.category
				width: 100%
		.caption
			text-align: center

	.content-hot-deals
		.page-header
			margin-top: 7px

			img.category
				width: 100%
		.caption
			text-align: center

.foot
	.container
		.panel-body
			background-image: url("../img/bg-footer.png")

			.navbar-static-bottom
				.beringharjo-foot
					color: white
					font-weight: bold

				ul.beringharjo-footer
					padding-left: 0
					li
						list-style: none
						text-decoration: none

						a.beringharjo-footer
							color: white
							text-decoration: none

							&:hover
								color: #333
								text-decoration: none

				.sponsor
					text-align: center
					color: white
					font-weight: bold
